<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <img class="mainImg" src="https://img.capital.bg/shimg/zx952y526_4381714.jpg">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        About
      </p>
      <p class="text-blk subHeadingText">
        Sights of Bulgaria
      </p>
      <p class="text-blk description">
        
Welcome to Sights of Bulgaria, your premier destination for exploring the rich cultural heritage and breathtaking landscapes of this enchanting Balkan nation.

Our mission is simple: to inspire and inform travelers from around the globe, encouraging them to embark on their own journey of discovery through Bulgaria's rich tapestry of sights, sounds, and experiences.
      </p>
      <button class="explore"
      routerLink="/all-sights">
        Explore
      </button>
    </div>
  </div>